!!!
%html
  %head
    %title
      Ripple
      = yield :title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %h1#page_title= yield :page_title
      = yield
